.carousel {
	height: 225px;
	z-index: -1 !important;

	.carousel-item {
		transition: 3s;
		img {
			object-fit: contain;
			height: 112px;
		}
	}
}

@media screen and (max-width: 767px) {
	.carousel {
		height: 200px;
		z-index: -1 !important;

		.carousel-item {
			transition: 3s;
			img {
				object-fit: contain;
				height: 100px;
			}
		}
	}
}

@media screen and (min-width: 992px) {
	.carousel {
		height: 200px;
		z-index: -1 !important;

		.carousel-item {
			transition: 3s;
			img {
				object-fit: contain;
				height: 150px;
			}
		}
	}
}
