.sfondo{
	position: absolute;
    top: -200px;
    width: 100%;
    min-height: 700px;
    background: #00ccbc;
    transform: skewY(-6deg);
    transform-origin: 50%;
}

#cont-back{
	padding-top: 30px;
	padding-bottom: 15px;
	position: relative;
}

.content{
	margin: 0 auto;
	width: 70%;
}

h1{
	color: white;
	font-size: 50px;
}

.cont-section{
	display: flex;
	font-size: 20px;
}

.container > ul > li{
	border-bottom: 1px lightgray solid;
	background-color: white;
	padding: 10px;
	cursor: pointer;
	a{
		color: #037a6e;
		text-decoration: none;
			&:hover{
			color: #04ccbb;
		}
	}

}

.container > ul > li:first-child{
	border-radius: 5px 30px 0 0;
}

.container > ul > li:last-child{
	border-radius: 0 0 5px 30px;
}

.container{
	padding: 0;
	margin: 0;
	width: 40%;
	height: fit-content;
	border-radius: 5px 30px 5px 30px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.container-text{
	width: max-content;
	width: 60%;
	background-color: #fff;
	margin-left: 15px;
	margin-bottom: 15px;
	padding: 30px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);
	border-radius: 5px 30px 5px 30px;
	p{
		margin-bottom: 35px;
	}
}

button{
	padding: 8px;
	border: none;
	background-color: #00a396;
	color: white;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
	&:hover{
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.45);
	}
	display: block;
	margin-bottom: 35px;
}

.quote {
    transform: skew(10deg);
	font-size: 15px;
}

@media screen and (max-width: 768px) {
	.cont-section{
		flex-direction: column;
		max-width: 100%;
		font-size: 170%;
	}

	.container{
		width: 100%;
	}

	.container-text{
		margin-left: 0;
		margin-top: 15px;
		width: auto;
		max-width: 100%;
		h2{
			font-size: 170%;
			margin-top: 20px;
		
		}
	}

	h1{
		width: 52%;
		margin: 0 auto;
		margin-bottom: 40px;
		font-size: 60px;
	}

	li{
		width: 100%;
		text-align: center;
	
	}

	.sfondo{
    	min-height: 1000px;
	}

	.hidden-container{
		left: 30%;
		min-width: 250px;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35); 	
	}
	
}

/* Aggiungi stili per il contenitore nascosto*/
.hidden-container {
	position: fixed;
	bottom: 20px;
	right: 20px;
	width: 300px;
	min-height: 500px;
	background-color: #ffffff;
	border-radius: 10px 10px 10px 10px;
    opacity: 0;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35);
	transition: all 0.3s ease;
	cursor: pointer;
  }
  
  .show-container {
    opacity: 1;
	visibility: visible;
  }

  .top-bar{
	background-color: #00CCBC;
	border-radius: 10px 10px 0px 0px;
	min-height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
  }

  .top-bar button {
	position: absolute;
	top: 5px; 
	right: 5px;
	background-color: transparent;
	border: none; 
	color: white;
	cursor: pointer; 
	font-size: 20px;
	border-radius: 50%;
  }

  .title-cont{
	box-sizing: content-box;
	border-bottom:1px solid lightgray;
  }

  .title-cont > p{
	color: black;
	margin: 0;
	padding: 10px;
	font-weight: bold;
	font-size: 18px;
  }

  .section-help > p{
	margin: 0;
	padding: 10px;
	font-size: 18px;
	border-bottom:1px solid lightgray;
		&:hover{
			background-color: #f2f2f2;
		}
  	}