// HAMBURGER MENU
.col-1 {
	display: none;
}

.canvas {
	width: 250px;
	height: 100vh;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 500;
	background-color: #00ab6b;
	transition: 0.7 ease-in-out;
	animation: slide-in 0.7s;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

	.logo {
		width: 150px;
	}

	ul {
		margin-top: -100px;
		text-align: center;
		font-size: 20px;
		letter-spacing: 3px;

		li {
			margin: 30px 0;

			a {
				&:hover {
					color: #333;
				}
			}
		}
	}
}

// ICONS
.fa-xmark {
	animation: slide-left 0.7s;
}

.fa-brands {
	font-size: 20px;
}

// ANIMATION
@keyframes slide-in {
	from {
		right: -250px;
	}
	to {
		right: 0;
	}
}

.slide-out {
	animation: slide-out 0.7s forwards;
}

@keyframes slide-out {
	from {
		right: 0;
	}
	to {
		right: -250px;
	}
}

@keyframes slide-left {
	from {
		right: 10px;
		transform: rotate(0);
	}

	to {
		right: 260px;
		transform: rotate(165deg);
	}
}

// BREAKPOINTS
@media screen and (max-width: 767px) {
	.hamburger {
		display: flex;
		justify-content: center;

		.fa-bars,
		.fa-xmark {
			font-size: 30px;
			&:hover {
				cursor: pointer;
			}
		}
		.fa-xmark {
			font-size: 40px;
			position: absolute;
			transition: 1s;
			transform: rotate(165deg);
			right: 260px;
			top: 20px;
		}
	}
}
