.nav-container {
	padding: 0 0 100px 0;
}

.my-nav-bar {
	height: 100px;
	background-color: black;
	position: fixed;
	z-index: 500;
	width: 101%;

	.logo {
		width: 75px;
		height: 75px;
		border-radius: 50%;
	}
}

li {
	text-transform: capitalize;
	font-size: 14px;

	a {
		transition: 1s;
		&:hover {
			color: #f6ca71;
			cursor: pointer;
		}
	}
}

.drop-down {
	position: relative;
}

.drop-list {
	width: 200px;
	position: absolute;
	top: 80px;
	right: 85px;
	background: black;
	flex-wrap: wrap;
	display: flex;
	z-index: 500 !important;
	animation: slide-up 1s;
	padding: 20px 0;
	li {
		margin: 10px;
		a {
			color: white;
			transition: 1s;
			&:hover {
				color: #f6ca71;
			}
		}
	}
}

input {
	padding-left: 10px;
}

@keyframes slide-up {
	from {
		top: 200px;
		opacity: 0;
	}
	to {
		top: 80px;
		opacity: 1;
	}
}

@media screen and (max-width: 767px) {
	.col-8 {
		display: none;
		li {
			display: none;
		}
		.drop-down {
			display: none;
		}
	}
}

// BREAKPOINTS
@media screen and (min-width: 768px) {
	.canvas {
		display: none;
	}
	li {
		padding: 0 15px;
	}
}

@media screen and (min-width: 922px) {
	.drop-list {
		right: 140px;
	}
}

@media screen and (min-width: 1200px) {
	.drop-list {
		right: 230px;
	}
}

@media screen and (min-width: 1399px) {
	.col-8 {
		li {
			font-size: 18px;
		}
	}
	.drop-list {
		right: 290px;
	}
}
