.container {
	max-width: 800px;
	margin: 100px auto;
  background-color: #fff;
	z-index: 100;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 0px 0.4px 0.4px #E37E08;
	transition: all 0.4s ease;

&:hover {
  box-shadow: 0 0px 2px 2px  #01516A;
}
}

h2{
  text-align: center;
	color: #01516A;

}

h2, h3, h4 {
margin-bottom: 20px;
}

.table {
width: 100%;
margin-bottom: 1rem;
color: #212529;

th,
td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #01516A;
  border-bottom: 1px solid #01516A;
}
}

.mt-5{
  margin-top: 5rem !important;
}

.carrello-vuoto {
  text-align: center;
  margin-top: 50px;
}

.carrello-vuoto > p {
  color: #007f8d;
  font-size: 40px;
  margin: 0;
  padding: 0;
}

button{
  align-items: center;
  background-color:#01516A;
  &:hover{
	  background-color: #007F8E;
  }
}

#total-style{
  font-size: 35px;
  color: #E37E08;
  
}